[submodule "3rd-party/CMSIS_5"]
	path = 3rd-party/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "3rd-party/nrfx"]
	path = 3rd-party/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "3rd-party/sdk-nrfxlib"]
	path = 3rd-party/sdk-nrfxlib
	url = https://github.com/nrfconnect/sdk-nrfxlib.git
